.input{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

}

.input:hover{
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.input:focus{
    outline: none;
    border: 1px solid rgba(53, 205, 253, 1);
}