.button {
    width: 148px;
    height: 40px;
    border-radius: 8px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.48px;
    padding: 10px 12px;
    cursor: pointer;
}

.button-primary {
    /*width: 100%;*/
    padding: 10px 12px;
    background-color: #000000;
    color: rgba(255,255,255,0.95);
}

.button-primary:hover {
    color: rgba(255, 255, 255, 0.95);
    background-color: rgba(59, 59, 59, 1);
}

.button-primary:active {
    color: rgba(255, 255, 255, 0.95);
    background-color: rgba(59, 59, 59, 1);
}

.button-outline{
    /*width: 100%;*/
    padding: 10px 12px;
    color: rgba(59, 59, 59, 1);
    background-color:transparent;
    border: rgba(0, 0, 0, 0.2) solid 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-outline:hover{
    color: rgba(109, 74, 255, 1);
    background-color:transparent;
    border: rgba(0, 0, 0, 0.2) solid 1px;
}

.button-outline:active{
    color: rgba(109, 74, 255, 1);
    background-color:transparent;
    border: rgba(109, 74, 255, 1) solid 1px;
}

.button-flattened{
    width: auto;
    padding: 4px 8px;
    color: rgba(59, 59, 59, 1);
    background-color:transparent;
    border: rgba(0, 0, 0, 0.2) solid 1px;
    display: flex;
    align-items: center;
}

.button-flattened:hover{
    color: rgba(109, 74, 255, 1);
    background-color:transparent;
    border: rgba(0, 0, 0, 0.3) solid 1px;

}
.button-flattened:active{
    color: rgba(109, 74, 255, 1);
    background-color:transparent;
    border: rgba(109, 74, 255, 1) solid 1px;
}

.button-icon {
    width: 32px;
    height: 32px;
    padding: 0;
    justify-content: center;
    background-color:transparent;
}

.button-icon:hover{
    background-color:rgb(255, 255, 255, 0.2);
}

.button-icon:active{
    background-color:rgba(255, 255, 255, 0.3);
}

/* Стили слота иконки */
.button-icon-slot {
    display: inline-flex;
    align-items: center;
    /*justify-content: center;*/
}

.button-icon-slot svg {
    display: block;
}

/* Если есть текст — выравниваем по левому краю */
.button:not(.button-icon) .button-icon-slot {
    margin-right: 6px;
}


.button-flattened:hover svg path{
    stroke: rgba(109, 74, 255, 1);
}
