.button {
    display: flex;
    border-radius: 8px;
    letter-spacing: 0.48px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 12px;
}


.button-wide {
    width: 100%;
}

.button-big {
    font-size: 13px;
    padding: 12px;
}

.button-small {
    font-size: 11px;
    line-height: 16px;
    padding: 8px;
}

.button-big .button-icon {
    width: 16px;
    height: 16px;
}

.button-primary {
    background-color: rgb(59,59,59);
    color: rgba(255, 255, 255, 0.95);
}

.button-primary:hover {
    color: rgba(255, 255, 255, 0.95);
    background-color: #626262;
}

.button-primary:active {
    color: rgba(255, 255, 255, 0.95);
    background-color: #757575;
}

.button-outline {
    color: rgba(59, 59, 59, 1);
    background-color: transparent;
    border: rgba(0, 0, 0, 0.2) solid 1px;
}

.button-outline:hover {
    color: rgba(109, 74, 255, 1);
    background-color: transparent;
    border: rgba(0, 0, 0, 0.2) solid 1px;
}

.button-outline:active {
    color: rgba(109, 74, 255, 1);
    background-color: transparent;
    border: rgba(109, 74, 255, 1) solid 1px;
}

.button-flattened {
    color: rgba(59, 59, 59, 1);
    background-color: transparent;
    border: rgba(0, 0, 0, 0.2) solid 1px;
}

.button-flattened:hover {
    color: rgba(109, 74, 255, 1);
    background-color: transparent;
    border: rgba(0, 0, 0, 0.3) solid 1px;
}

.button-flattened:active {
    color: rgba(109, 74, 255, 1);
    background-color: transparent;
    border: rgba(109, 74, 255, 1) solid 1px;
}

.button-icon {
    border-radius: 100%;
    background-color: transparent;
}

.button-icon:hover {
    background-color: #F5F5F5;
}

.button-icon:active {
    background-color: #EBE6FF;
}

/* ---- */

.button-text{
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.button .icon {
    width: 16px;
    height: 16px;
}

.button-flattened:hover svg path,
.button-outline:hover svg path {
    stroke: rgba(109, 74, 255, 1);
}

.button-flattened svg path,
.button-outline svg path {
    stroke: rgba(59, 59, 59, 1);
}
