.menu-container {
    display: flex;
    flex-direction: row;
}

.menu-small {
    width: 48px;
    background-color: rgba(59, 59, 59, 1);
    padding: 20px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.menu-small-top-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.menu-small-bottom-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.menu-big {
    width: 280px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 4px 0px 16px 0px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
}

.menu-big-header {
    margin: 0;
    padding-bottom: 20px;
    border-bottom: rgba(0, 0, 0, 0.1) 2px solid;
}

.menu-big-header-title {
    height: 50px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.8);
    text-align: start;
}

.menu-big-header-subtitle{
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.24px;
    vertical-align: middle;
    text-align: start;
}

.menu-big-options{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu-small .logo-wrapper .icon {
    display: block;
   height: 36px;
    width: 36px;
}