.fields{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.fields-item{
    flex-grow: 1;
}

.fields-item-long{
    width: 148px;
    flex-grow: 0;
}

.fields-item-short{
    width: 23px;
    flex-grow: 0;
}
