.header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom:  32px;
}
.title-main{
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
}

.title-secondary{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    vertical-align: middle;
}

.header-container-buttons{
display: flex;
    gap: 4px;
    align-items: center;
}
