.header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top:40px ;
    margin-bottom:  32px;
}
.header-container-header{
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
}

.header-container-buttons{
display: flex;
    gap: 4px;
    align-items: center;
}
