.card-container {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12);
}

.images-container{
    display: flex;
    gap: 12px;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.image-preview {
    width: 144px;
    height: 108px;
    border-radius: 10px;
    display: block;
}


.image-button{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 28px;
    height: 28px;
    background: rgba(59, 59, 59, 1);
    border: none;
    color: white;
    padding: 6px;
    border-radius:8px;
    cursor: pointer;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12);
}